{% include "model-head.html" %}

<header>
    {% include "model-navbar.html" %}
</header>

<!-- Begin page content -->
<main role="main" class="flex-shrink-0">
    <div class="container">
        <form class="my-5" action="shortener_url" method="POST">
            {% csrf_token %}

            <fieldset>
                <div class="form-group">
                    <label for="urlInput">Original URL</label>
                    <input type="text" id="urlInput" name="urlInput" class="form-control" placeholder="Paste or type an valid URL here" autofocus>
                </div>
                <button type="submit" class="btn btn-primary blue-gradient justify-center mt-2 mb-4">SHORTENER</button>
                <div class="form-group">
                    <label for="urlOutput">Shortened URL</label>
                    <input type="text" id="urlOutput" name="urlOutput" value="{{ urlOutput }}" class="form-control" placeholder="..." readonly>
                </div>
            </fieldset>
        </form>

        {% for message in messages %}
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            <strong>INFO:</strong> {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
    </div>
</main>

{% include "model-footer.html" %}