<!-- Fixed navbar -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top blue-gradient mb-1">
    <a class="navbar-brand font-weight-bold" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item font-weight-bold active">
                <a class="nav-link" href="/urls/">URLs List<span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto nav-flex-icons">
            <li class="nav-item">
                <a class="nav-link waves-effect waves-light">1
                    <i class="fas fa-envelope"></i>
                </a>
            </li>
            <li class="nav-item dropdown avatar">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-55" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" class="rounded-circle z-depth-0" alt="avatar image">
                </a>
                <div class="dropdown-menu dropdown-menu-lg-right dropdown-primary" aria-labelledby="navbarDropdownMenuLink-55">
                    <a class="dropdown-item font-weight-normal" href="/admin/"><span class="mr-2"><i class="fas fa-users-cog fa-fw"></i></span>Admin</a>
<!--                    <a class="dropdown-item font-weight-normal" href="/admin/auth/user/"><span class="mr-2"><i class="fas fa-user-tie fa-fw"></i></span>Profile</a>-->
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item font-weight-normal" href="/accounts/logout/"><span class="mr-2"><i class="fas fa-sign-out-alt fa-fw"></i></span>Sign Out</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<!--/.Fixed navbar -->