<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load staticfiles %}
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/ico" href="{% static '/img/favicon.ico' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap-reboot.min.css' %}">
    <link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap-grid.min.css' %}">
    <link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/bootstrap/css/signin.css' %}">
    <link rel="stylesheet" href="{% static '/bootstrap/css/sticky-footer-navbar.css' %}">
    <!-- MDBootstrap CSS -->
    <link rel="stylesheet" href="{% static '/mdb/css/mdb.min.css' %}">
    <title>URL shortening service</title>
</head>
<body>