    <footer class="footer mt-auto py-3">
        <div class="container">
            <span class="text-muted">
                <p class="my-4 text-muted">&copy; 2020 Thiago Silva</p>
            </span>
        </div>
    </footer>

    {% load staticfiles %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static "js/jquery.slim.min.css" %}"></script>
    <script src="{% static "js/popper.min.css" %}"></script>
    <script src="{% static "js/bootstrap.min.css" %}"></script>
</body>
</html>